<header>
    <nav>
        <a href="/">Gentle Petals</a>
        <ul>
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/products/new">Add Products</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
        </ul>
    </nav>
</header>